<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT cabecera ANY>
<!ATTLIST cabecera id ID #REQUIRED>
<!ELEMENT comoTrabajamos ANY>
<!ATTLIST comoTrabajamos id ID #REQUIRED>
<!ELEMENT contacto ANY>
<!ATTLIST contacto id ID #REQUIRED>
<!ELEMENT galeriaTrabajos ANY>
<!ATTLIST galeriaTrabajos id ID #REQUIRED>
<!ELEMENT habilidades ANY>
<!ATTLIST habilidades id ID #REQUIRED>
<!ELEMENT inicio ANY>
<!ATTLIST inicio id ID #REQUIRED>
<!ELEMENT localizacion ANY>
<!ATTLIST localizacion id ID #REQUIRED>
<!ELEMENT nuestrosTrabajos ANY>
<!ATTLIST nuestrosTrabajos id ID #REQUIRED>
<!ELEMENT piePagina ANY>
<!ATTLIST piePagina id ID #REQUIRED>
<!ELEMENT redes ANY>
<!ATTLIST redes id ID #REQUIRED>
<!ELEMENT redesSociales ANY>
<!ATTLIST redesSociales id ID #REQUIRED>
<!ELEMENT sobreNosotros ANY>
<!ATTLIST sobreNosotros id ID #REQUIRED>

]>
<root id="-1">
  <inicio id="1054" key="06604af8-6d5a-4b15-ad0c-2594b195ecf8" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-07T20:28:51" updateDate="2016-03-07T20:28:51" nodeName="Obras Villarrosa" urlName="obras-villarrosa" path="-1,1054" isDoc="" nodeType="1053" creatorName="pedro" writerName="pedro" writerID="0" template="1047" nodeTypeAlias="inicio">
    <cabecera id="1055" key="d3b58ed3-cbd5-418a-bd1f-ce9d03d5c0af" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2016-03-07T20:30:46" updateDate="2016-03-21T21:26:42" nodeName="Cabecera" urlName="cabecera" path="-1,1054,1055" isDoc="" nodeType="1049" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="cabecera">
      <imagenFondo><![CDATA[/media/1001/fondo1.jpg]]></imagenFondo>
      <menuNavegacion><![CDATA[Inicio,Presentación,Que te ofrecemos,Nuestros Trabajos,Contacto,Mándanos tus dudas,Localización]]></menuNavegacion>
      <logoEmpresa><![CDATA[/media/1002/logo.png]]></logoEmpresa>
      <nombreEmpresa><![CDATA[OBRAS Y REFORMAS VILLARROSA]]></nombreEmpresa>
      <esloganEmpresa><![CDATA[TU VIVIENDA EN MANOS DE PROFESIONALES]]></esloganEmpresa>
    </cabecera>
    <sobreNosotros id="1062" key="18a9c2b8-514d-45c3-a4f4-0d48033204dd" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2016-03-08T23:50:06" updateDate="2016-03-22T10:08:01" nodeName="Sobre Nosotros" urlName="sobre-nosotros" path="-1,1054,1062" isDoc="" nodeType="1061" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="sobreNosotros">
      <textoPresentacion><![CDATA[<p style="text-align: center; padding: 0px 50px;"><span>Somos una empresa con mas de 15 anos de historia en Puertollano y su Comarca, nos dedicamos a todos tipos de trabajos relaciones con la construccion, garantizando a nuestros clientes las mejores calidades en nuestros trabajos, respetando los tiempos y directrices de la construccion. Nos caracterizamos tambien por nuestra flexibilidad a la hora trabajar, ya que damos al cliente la opcion de elegir entre una amplia gama de materiales y acabados, en el que por supuesto contaran y seran en caso de que lo necesiten, asesorados por los mejores profesionales en el sector.<br /></span></p>
<p style="text-align: center; padding: 0px 50px;"><span>Si lo que quieres es no preocuparte por tu obra esta es tu empresa, realizamos proyectos a llave en mano, en el que el cliente dejara atras la burocracia que una obra conlleva, nos encargados de la peticion de proyectos, licencias, y demas actividades asociadas, evitando a nuestros clientes la perdida de su tiempo personal.</span></p>
<p style="text-align: center; padding: 0px 50px;"><span>Por otro lado, nos compremetemos a que nuestros clientes esten informados de todos los pasos en sus reformas y obras, queremos que nuestros clientes sientan que cada paso que realizamos se hace de la mejor manera posible y a gusto del mismo.</span></p>
<p style="text-align: center; padding: 0px 50px;"><span>No dude en dejar sus obras y reformas en las mejores manos y garantice que estaran arropados en las misma, con las garantias que ofrecemos en nuestros trabajos, tenemos en cuenta que la construccion es muy importante, pero la post-construccion tambien lo es.</span></p>
<p style="text-align: center; padding: 0px 50px;"><span>Pedro Villacreces Rubio. <strong>Gerente Obras y Reformas Villarrosa SL</strong></span></p>]]></textoPresentacion>
      <nombreEmpresa><![CDATA[OBRAS Y REFORMAS VILLARROSA]]></nombreEmpresa>
    </sobreNosotros>
    <nuestrosTrabajos id="1070" key="93aacfe9-7285-4781-9e5b-d27db7b580da" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2016-03-09T22:52:17" updateDate="2016-03-20T10:56:32" nodeName="Nuestros Trabajos" urlName="nuestros-trabajos" path="-1,1054,1070" isDoc="" nodeType="1065" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="nuestrosTrabajos">
      <tituloSeccion><![CDATA[NUESTROS TRABAJOS]]></tituloSeccion>
      <galeriaTrabajos id="1071" key="2dee1025-87e5-442a-9d64-0b95c910159e" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2016-03-09T22:53:44" updateDate="2016-03-10T23:20:38" nodeName="Trabajo Uno" urlName="trabajo-uno" path="-1,1054,1070,1071" isDoc="" nodeType="1069" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="galeriaTrabajos">
        <textoImagen><![CDATA[Esta es la imagen numero uno]]></textoImagen>
        <fotografia><![CDATA[/media/1003/pic1.png]]></fotografia>
      </galeriaTrabajos>
      <galeriaTrabajos id="1072" key="6579ea99-9c06-43b9-8830-6a6430cf2d76" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2016-03-09T22:54:09" updateDate="2016-03-10T23:20:56" nodeName="Trabajo Dos" urlName="trabajo-dos" path="-1,1054,1070,1072" isDoc="" nodeType="1069" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="galeriaTrabajos">
        <textoImagen><![CDATA[Este es el trabajo numero dos]]></textoImagen>
        <fotografia><![CDATA[/media/1004/pic2.png]]></fotografia>
      </galeriaTrabajos>
      <galeriaTrabajos id="1073" key="8c27f6c1-9920-48ee-b8ba-0a08e00000db" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2016-03-09T22:54:31" updateDate="2016-03-10T23:21:10" nodeName="Trabajo Tres" urlName="trabajo-tres" path="-1,1054,1070,1073" isDoc="" nodeType="1069" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="galeriaTrabajos">
        <textoImagen><![CDATA[Este es el trabajo numero tres]]></textoImagen>
        <fotografia><![CDATA[/media/1005/pic3.png]]></fotografia>
      </galeriaTrabajos>
    </nuestrosTrabajos>
    <contacto id="1078" key="b1850f58-4c05-4d76-b192-3a3ce6a4ab25" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2016-03-11T20:52:38" updateDate="2016-03-18T15:01:09" nodeName="Contacto" urlName="contacto" path="-1,1054,1078" isDoc="" nodeType="1077" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="contacto">
      <direccion><![CDATA[<p>Calle Carrión Bajo 15</p>
<p>Puertollano (Ciudad Real)</p>
<p>13500</p>]]></direccion>
      <telefonos><![CDATA[<p>655935855</p>
<p>9264112141</p>]]></telefonos>
      <tituloSeccion><![CDATA[QUIERES CONTACTAR CON NOSOTROS?]]></tituloSeccion>
      <email><![CDATA[prueba@gmail.com]]></email>
    </contacto>
    <comoTrabajamos id="1084" key="9d904158-cac3-45de-9ed7-769916d13112" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2016-03-11T21:44:18" updateDate="2016-03-22T14:27:12" nodeName="Habilidades" urlName="habilidades" path="-1,1054,1084" isDoc="" nodeType="1083" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="comoTrabajamos">
      <tituloDeSeccion><![CDATA[PORQUE SOMOS TU MEJOR OPCION?]]></tituloDeSeccion>
      <habilidades id="1087" key="c8cef7df-4c57-47c0-952d-66835ff3afe0" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2016-03-11T21:50:22" updateDate="2016-03-21T21:08:44" nodeName="Materiales" urlName="materiales" path="-1,1054,1084,1087" isDoc="" nodeType="1081" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="habilidades">
        <habilidad><![CDATA[MATERIALES DE ALTA CALIDAD]]></habilidad>
        <iconosHabilidad><![CDATA[/media/1006/lego1.png]]></iconosHabilidad>
        <listaHabilidades><![CDATA[Materiales de Alta Calidad,Productos 100% garantizados,Los mejores proveedores]]></listaHabilidades>
      </habilidades>
    </comoTrabajamos>
    <comoTrabajamos id="1093" key="de8fbe65-5417-4556-a827-b437f213cb4b" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2016-03-16T20:46:33" updateDate="2016-03-16T22:16:23" nodeName="Tipos Trabajo" urlName="tipos-trabajo" path="-1,1054,1093" isDoc="" nodeType="1083" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="comoTrabajamos">
      <tituloDeSeccion><![CDATA[¿QUÉ SERVICIOS OFRECEMOS?]]></tituloDeSeccion>
      <habilidades id="1095" key="09c84190-991e-45fd-b035-0c76c5a457f4" parentID="1093" level="3" creatorID="0" sortOrder="0" createDate="2016-03-16T20:49:59" updateDate="2016-03-16T22:34:57" nodeName="Construcciones de Obra Nueva" urlName="construcciones-de-obra-nueva" path="-1,1054,1093,1095" isDoc="" nodeType="1081" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="habilidades">
        <iconosHabilidad><![CDATA[/media/1008/people.png]]></iconosHabilidad>
        <listaHabilidades><![CDATA[one,dos,tres,cuatro,cinco]]></listaHabilidades>
        <iconoLista><![CDATA[/media/1009/pared.png]]></iconoLista>
      </habilidades>
    </comoTrabajamos>
    <localizacion id="1102" key="84f35487-93ff-419f-9cc8-ad5a82512d61" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2016-03-18T19:49:28" updateDate="2016-03-18T19:56:00" nodeName="Localizacion" urlName="localizacion" path="-1,1054,1102" isDoc="" nodeType="1089" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="localizacion">
      <mapa><![CDATA[38.70303759999999,-4.11319960000003]]></mapa>
    </localizacion>
    <redesSociales id="1108" key="14f903e5-cabc-44bd-9347-28ae05a04137" parentID="1054" level="2" creatorID="0" sortOrder="8" createDate="2016-03-21T22:03:36" updateDate="2016-03-21T22:41:39" nodeName="Redes Sociales" urlName="redes-sociales" path="-1,1054,1108" isDoc="" nodeType="1104" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redesSociales">
      <tituloSeccion><![CDATA[ENCUENTRANOS EN LAS REDES SOCIALES]]></tituloSeccion>
      <redes id="1109" key="2df07ea2-6b19-4d8b-8db2-49b3e88567f3" parentID="1108" level="3" creatorID="0" sortOrder="0" createDate="2016-03-21T22:09:02" updateDate="2016-03-22T13:36:26" nodeName="Facebook" urlName="facebook" path="-1,1054,1108,1109" isDoc="" nodeType="1107" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redes">
        <imagenColor><![CDATA[/media/1015/faceblue.png]]></imagenColor>
        <imagenSocial><![CDATA[/media/1010/social-1.png]]></imagenSocial>
        <linkSocial><![CDATA[https://www.facebook.com/obras.villarrosa]]></linkSocial>
      </redes>
      <redes id="1110" key="184f6740-6270-4cc9-b1ff-68967ec1096d" parentID="1108" level="3" creatorID="0" sortOrder="1" createDate="2016-03-21T22:36:10" updateDate="2016-03-22T13:36:50" nodeName="Twitter" urlName="twitter" path="-1,1054,1108,1110" isDoc="" nodeType="1107" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redes">
        <imagenColor><![CDATA[/media/1016/twitterblu.png]]></imagenColor>
        <imagenSocial><![CDATA[/media/1011/social-media.png]]></imagenSocial>
        <linkSocial><![CDATA[www.twitter.com]]></linkSocial>
      </redes>
      <redes id="1111" key="a275cd1c-a721-413c-9bfc-c684103d274a" parentID="1108" level="3" creatorID="0" sortOrder="2" createDate="2016-03-21T22:38:16" updateDate="2016-03-21T22:38:16" nodeName="Linkedin" urlName="linkedin" path="-1,1054,1108,1111" isDoc="" nodeType="1107" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redes">
        <imagenSocial><![CDATA[/media/1012/social-2.png]]></imagenSocial>
        <linkSocial><![CDATA[www.linkedin.com]]></linkSocial>
      </redes>
      <redes id="1112" key="a8ca56ef-9ed9-4b00-99ff-9c1a5683fcad" parentID="1108" level="3" creatorID="0" sortOrder="3" createDate="2016-03-21T22:38:57" updateDate="2016-03-21T22:38:57" nodeName="Instagram" urlName="instagram" path="-1,1054,1108,1112" isDoc="" nodeType="1107" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redes">
        <imagenSocial><![CDATA[/media/1013/social-3.png]]></imagenSocial>
        <linkSocial><![CDATA[www.instagram.com]]></linkSocial>
      </redes>
      <redes id="1113" key="1e245d48-51b3-40ba-a504-ea44cb16521d" parentID="1108" level="3" creatorID="0" sortOrder="4" createDate="2016-03-21T22:39:29" updateDate="2016-03-21T22:39:29" nodeName="Google+" urlName="googleplus" path="-1,1054,1108,1113" isDoc="" nodeType="1107" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="redes">
        <imagenSocial><![CDATA[/media/1014/circle.png]]></imagenSocial>
        <linkSocial><![CDATA[www.google.es]]></linkSocial>
      </redes>
    </redesSociales>
    <piePagina id="1120" key="112e600d-250e-46c6-ad32-184be6a26632" parentID="1054" level="2" creatorID="0" sortOrder="9" createDate="2016-03-28T18:46:03" updateDate="2016-03-28T18:57:22" nodeName="Footer" urlName="footer" path="-1,1054,1120" isDoc="" nodeType="1119" creatorName="pedro" writerName="pedro" writerID="0" template="0" nodeTypeAlias="piePagina">
      <logo><![CDATA[/media/1017/logo.png]]></logo>
      <menu><![CDATA[Inicio,Presentación,Que te ofrecemos,Nuestros Trabajos,Contacto,Mándanos tus dudas,Localización]]></menu>
      <title><![CDATA[Lorem Ipsum]]></title>
      <copyright><![CDATA[<p style="margin-top: 10px; color: white; font-size: 8pt;">Copyright © 2015. All Rights Reserved. Lorem Ipsum is a company registered in England with registration number 112211.</p>]]></copyright>
    </piePagina>
  </inicio>
</root>